<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvRcO7qHd2v_3AmqnVz9d1X-SRuHwpY0s</string>
	<key>GCM_SENDER_ID</key>
	<string>511258248307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notes-app-e4686</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-e4686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511258248307:ios:c559d978426ee012021606</string>
</dict>
</plist>